{% extends "templates/base.jinja2" %}

{% block content %}
  <div class="hero-unit span10">
    {{ about|safe }}
  </div>

  <div class="hero-unit span10">
    {{ changelog|safe }}
  </div>
{% endblock %}

{% block sidebar %}
  <ul class="nav nav-list">
    <li class="nav-header">Links</li>
    <li><a href="https://github.com/iElectric/almir/">Homepage</a></li>
    <li><a href="https://github.com/iElectric/almir/issues">Report a bug / Request a feature</a></li>
    <li><a href="http://readthedocs.org/docs/almir/">Documentation</a></li>
    <li><a href="https://groups.google.com/group/almir-bacula">Mailing list</a></li>
    <li><a href="irc://irc.freenode.net/almir">IRC</a></li>
  </ul>
{% endblock %}
