{% extends "templates/base.jinja2" %}

{% block content %}
    <h1 class="view">Dashboard <small>Overview</small></h1>
    <h2>Latests Jobs</h2>
    <table class="table table-bordered datatables">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Level</th>
                <th>Client</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr class="clickable-row {{ job.status_color }}" data-link="{{ request.route_url('job_detail', id=job.jobid) }}">
                    <td>{{ job.name }}</td>
                    <td>{{ job.status_name }}</td>
                    <td>{{ job.type_name }}</td>
                    <td>{{ job.level_name }}</td>
                    <td>{{ macros.link(job.render_client_name(request)) }}</td>
                    <td>{{ macros.link(job.render_starttime(request)) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
      <h1 class="view">Statistics</h1>
        <table class="table table-striped table-bordered table-condensed word-wrapped">
         <tbody>
           <tr>
               <td>Clients:</td>
               <td>{{ num_clients }}</td>
           </tr>
           <tr>
               <td>Jobs:</td>
               <td>{{ num_jobs }}</td>
           </tr>
           <tr>
               <td>Volumes:</td>
               <td>{{ num_media }}</td>
           </tr>
           <tr>
               <td>Total backup size:</td>
               <td>{{ format_byte_size(sum_volumes) }}</td>
           </tr>
           <!-- total bytes, database size, number of files, df -h -->
         </tbody>
        </table>
{% endblock %}
