{% extends "templates/base.jinja2" %}

{% block content %}
    <h1 class="view">Job <small>List</small></h1>
    <table class="table table-bordered datatables">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Level</th>
                <th>Size</th>
                <th>Files</th>
                <th>Client</th>
                <th>Started</th>
            </tr>
        </thead>
        <tbody>
            {% for job in objects %}
                <tr class="clickable-row {{ job.status_color }}" data-link="{{ request.route_url('job_detail', id=job.jobid) }}">
                   <td>{{ job.name }}</td>
                   <td>{{ job.status_name }}</td>
                   <td>{{ job.type_name }}</td>
                   <td>{{ job.level_name }}</td>
                   <td>{{ format_byte_size(float(job.jobbytes)) }}</td>
                   <td>{{ job.jobfiles }}</td>
                   <td>{{ job.client.name }}</td>
                   <!-- TODO: starttime not available when job is running -->
                   <td>{{ distance_of_time_in_words(job.starttime, now) }} ago</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <h1>Filter</h1>
    {{ form.render()|safe }}
{% endblock %}
