{% extends "templates/base.jinja2" %}

{% block content %}
    <h1 class="view">Job <small>list</small></h1>
    {% if appstruct.state == 'scheduled' %}
        {{ macros.upcoming_jobs_table(request, objects) }}
    {% else %}
        {{ macros.jobs_table(request, objects) }}
    {% endif %}
{% endblock %}
