{% extends "templates/base.jinja2" %}

{% block container %}
    <div class="span12">
        <h1 class="view">Log <small>view</small></h1>
        {{ macros.logs_table(request, logs) }}
    </div>
{% endblock %}
